$primary-dark-1: hsl(217, 28%, 15%);
// (intro and email sign up background)
$primary-dark-2: hsl(218, 28%, 13%);
// (main background)
$primary-dark-3: hsl(216, 53%, 9%);
// (footer background)
$primary-dark-4: hsl(219, 30%, 18%);
// (testimonials background)

$cyan : hsl(176, 68%, 64%);
// (inside call-to-action gradient)
$blue : hsl(198, 60%, 50%);
// (inside call-to-action gradient)
$light : hsl(0, 100%, 63%);
// Red (error)
$grey: #DBE2EA;
// text 

// BreakPoints
$bp-footer : 53.125; // 850px
$bp-bg : 50em;       // 800px
$bp-md : 40.625em;   // 650px
$bp-sm : 28.125em;   // 450px
$bp-x-sm : 21.875em;   // 350px