.attribution { font-size: 11px; text-align: center; margin-top: 10rem; }
.attribution a { color: $color-primary-light; }

.footer {
    color: #fff;

    .row {
        align-items: start;

        @media only screen and (max-width: $bp-sm) {
            flex-direction: column-reverse;
        }
    }

    .wrapper {
        background-color: $color-secondary-dark;
    }

    @media only screen and (max-width: $bp-sm) {
        .container {
            padding-top: 5rem;
            padding-right: 10%;
            padding-left : 10%;
        } 
    }

    &__logo {
        filter: brightness(0) invert(1);
        height: 2.2rem;
        margin-bottom: 3rem;
    }

    &__list {
        list-style: none;
    }

    &__item {
        margin-bottom: 1.5rem;
        a {
            text-decoration: none;
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__icon {
        color: #fff;
        font-size: 1.4rem;
        margin-right: 1.2rem;
    }
}

.socials {
    display: flex;
    margin-top: 3rem;

    a {
        text-decoration: none;
        color: #fff;
        transition: color .3s ease-in-out;

        &:hover {
            color: cyan;
        }
    }

    .social-icon {
        font-size: 2.5rem;
        margin-right: 1.8rem;
    }
}

.newsletter {
    h4 {
        margin-bottom: 2rem;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        color: $color-secondary-light;
        width: 65%;
        
        @media only screen and (max-width: $bp-md) {
            width: 100%;
        }
    }
}

.form {
    margin-top: 2.5rem;
    .row {
        align-items: start;

        @media only screen and (max-width: $bp-md) {
            flex-direction: column;
            align-items: end;
            
            .col-1-of-2 {
                width: 100%;
            }
        }
    }

    .message {
        font-size: 1.4rem;
    }

    &__input {
        margin-bottom: .5rem;
        width: 100%;
        font-family: inherit;
        font-size: 1.2rem;
        font-weight: 400;
        color: $color-secondary-dark;
        padding: 1rem;
        border: 1px solid #494949;
        border-radius: 4px;
        box-sizing:border-box;
        
        &:focus {
            border: 1px solid #494949;
        }
        /* &:invalid {
            outline: none !important;
            border-color: $color-red;
          }
          
        &:valid {
            outline: none !important;
            border-color: $color-green;
          } */
    }

    &__btn {
        border-radius: .3rem;
        padding: 1rem 3rem;
        margin-top: 1rem;

        @media only screen and (max-width: $bp-md) {
            float: right;
        }
    }
}

.footer {
    transition: all 600ms;
}

.footer.appear {
    opacity: 0;
    transform: translateY(8rem);
}