$red : hsl(0, 100%, 74%);
$green : hsl(154, 59%, 51%);
$blue : hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%); 
$grayish-blue: hsl(246, 25%, 77%);

// Breakpoints
$bp-md:  50em; // 800px
$bp-sm:  31.25em; // 500px


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media only screen and (max-width: $bp-sm) {
        font-size: 52.5%;
    }
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    line-height: 1.6;

    background-image: url("../images/bg-intro-desktop.png");
    background-color: $red;
    background-position: center;
    
    @media only screen and (max-width: $bp-sm) {
        background-image: url("../images/bg-intro-mobile.png");
    }
}

h1 {
    font-weight: 700;
    line-height: 1.4;
    font-size: 4rem;
}

b {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.font-red {
    color: $red;
}

a {
    text-decoration: none;
}

.attribution { 
    font-size: 11px; text-align: center; 
    a {
        color: hsl(228, 45%, 44%);
    }
}


.container {
    max-width: 1140px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-md) {
        text-align: center;
    }
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $bp-md) {
        flex-direction: column;
    }
}

.col-1-of-2 {
    width: 47.5%;

    @media only screen and (max-width: $bp-md) {
        width: 100%;
    }
}

.main {
    align-self: center;
    &__content {

        p {
            
            @media only screen and (max-width: $bp-md) {
                margin-bottom: 8rem;
            }
        }

        h1 {
            margin-bottom: 2rem;
        }
    }
}

.form-section {
    width: 100%;
    max-height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    border: none;
    border-radius: .8rem;
    background-color: $blue;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 2rem 0;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.15);
    margin-top: 2rem;
    cursor: pointer;

    &--submit {
        background: $green;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        
        &:hover {
            background: rgba($green, .7);

        }
    }
}


.form-section {
    &__title-box {
        border: none;
        border-radius: .8rem;
        background-color: $blue;
        color: #fff;
        font-weight: 400;
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        padding: 2rem 0;
        box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.15);
        text-align: center;
        margin-bottom: 4rem;
    }
    
    &__box {
        background-color: #fff;
        border-radius: .8rem;
    }
}

.form {
    padding: 3.5rem;

    &__input {
        display: block;
        width: 100%;
        font-family: inherit;
        font-size: 1.5rem;
        font-weight: 400;
        color: $dark-blue;
        padding: 1.5rem 2rem;
        border: 1.5px solid #767676b6;
        border-radius: 4px;

        box-sizing:border-box;

        &:focus {
            outline: none !important;
            border-color: $dark-blue;
            // box-shadow: 0 0 10px #719ECE;
        }

        /* &:invalid {
            outline: none !important;
            border-color: $red;
          }
          
        &:valid {
            outline: none !important;
            border-color: $green;
          } */
    }

    &__term-services {
        color: $grayish-blue;
        font-weight: 200;
        margin-top: 1.8rem;
        font-size: 1rem;
        text-align: center;
    }
}

.input-wrapper {
    position: relative;
    i {
        z-index: 1;
        position: absolute;
        bottom: 35.5%;
        right: 5%;

        font-size: 2rem;
        color: $red;
    }
}

.wrapper {
    color: $red;

    small {
        float: right;
        margin-top: .25rem;
        // margin-bottom: 1rem;
    }

    margin-bottom: 3rem;
}
