// COLORS
$color-primary: hsl(322, 100%, 66%);

$color-secoundary-light: hsl(193, 100%, 96%);
$color-secoundary-dark: hsl(192, 100%, 9%);

$color-grey: hsl(208, 11%, 55%);


// FONT 
$font-size: 1.8rem;


// DROP SHADOW
$drop-shadow-box: 0px 3px 12px 3px rgba(0, 0, 0, 0.1);
$drop-shadow-btn: 0px 4px 6px rgba(0, 0, 0, 0.29);;


// BREAKPOINTS
$bp-md: 50em;       // 800px
$bp-sm: 40.5em;    // 650px +- 
$bp-x-sm: 28em;   // 450px +- 





