.cards {
    margin-top: 10rem;
    margin-bottom: 25rem;
    padding: 0 5rem;
}

.card {
    padding: 10rem 5rem;
    margin: 4vh 0;
    box-shadow: $drop-shadow-box;
    border-radius: 1.6rem;

    transition: opacity 400ms, transform 800ms;

    &__title {
        font-family: 'Poppins';
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__desc {
        color: $color-grey;
    }

    &__img-box {
        width: 100%;
        display: flex;
        justify-content: end;
        
        &--reverse {
            justify-content: start;

            @media only screen and (max-width: $bp-md) {
                justify-content: center;
                
            }
        }
        
        @media only screen and (max-width: $bp-md) {
            justify-content: center;
            margin-top: 4rem;
            
        }
    }

    &__img {
        width: 60%;
        height: auto;
        justify-self: center;
    }
}

.card.appear {
    opacity: 0;
    transform: translateY(8rem);
}
