.nav {
    @media only screen and (max-width: $bp-sm) {
        .row {
            flex-direction: row;
        }
        .col-1-of-2 {
            width: 45%;
        }
    } 

    @media only screen and (max-width: $bp-smest) {
        .row {
            flex-direction: column;
        }
        .col-1-of-2 {
            width: 100%;
        }
    }

    &__logo {
        height: 3.5rem;
        width: auto;

        @media only screen and (max-width: $bp-smest) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 2.5rem;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        float: right;
        
        @media only screen and (max-width: $bp-smest) {
            float: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
    }

    &__item {
        font-family: 'Raleway', sans-serif;
        width: max-content;
        &:not(:last-child) {margin-right: 5rem;}
        a {
            text-decoration: none;
            color: $primary-dark;
        }

        @media only screen and (max-width: $bp-smest) {
            &:not(:last-child) {margin-right: 2.5rem;}
        }
    }
}