.story {
    background-color: $primary-dark-2;
    padding-bottom: 25rem;

    @media only screen and (max-width: $bp-md) {
        .container {
            padding-left :10rem ;
            padding-right:10rem ;
        }
    }
    
    @media only screen and (max-width: $bp-sm) {
        .container {
            padding-left : 5rem ;
            padding-right: 5rem ;
        }
    }

    .row {
        align-items: stretch;
    }

    &__quote {
        margin-bottom: -1rem;
        margin-left: -.5rem;
        width: 4rem;
        height: auto;
    }

    &__box {
        background-color: $primary-dark-4;
        padding: 2.5rem 2rem;
        border-radius: .4rem;
        position: relative;
        z-index: 1;

        @media only screen and (max-width: $bp-md) {
            margin-bottom: 4rem;
        }
    }

    .author {
        display: flex;
        margin-top: 3rem;

        &__avatar {
            border-radius: 50%;
            width: 3.5rem;
            height: 3.5rem;
            margin-right: 1.5rem;
        }

        &__desc {

            h5 {
                font-size: 1.4rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
}
