// COLORS
$color-primary: hsl(322, 100%, 66%);
$color-primary-light: hsl(321, 100%, 78%);
$color-secondary-dark: hsl(192, 100%, 9%);
$color-secondary-light: hsl(207, 100%, 98%);
$color-red: hsl(0, 100%, 63%);
$color-green: #5cb85c;


// BREAKPOINTS
$bp-md: 50em; // 800px
$bp-sm: 37.5em; // 600px
$bp-x-sm: 25em; // 400px

// FONT
$font-family: 'Open Sans', sans-serif;
$font-size: 1.6rem;

$box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.17);